@charset 'UTF-8';

// 
// ベース設定
// 
html {
    font-size: 100%;

    body {
        background-color: #050507;
        color: #fff;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
    }

    img {
        max-width: 100%;
        vertical-align: bottom;
    }

    li {
        list-style: none;
    }

    a {
        color: #ffffff;
        text-decoration: none;
    }

    a:hover {
        /* マウスを乗せたときの透過 */
        opacity: 0.7;
    }
}

// 
// 共通クラス
// 
.container {
    background: #050507;
    color: #fff;
    text-align: center;
}

.site-title {
    font-size: 6.25rem;
    font-weight: 300;
    // text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 100px;
}

.section-title {
    display: inline-block;
    font-size: 3.75rem;
    font-weight: 200;
    margin-bottom: 45px;
    border-bottom: 1px solid #fff;
}

.wrapper {
    max-width: 800px;
    padding: 0 30px;
    margin: 0 auto;
}

// フェードイン効果
.fadein {
    // 初期値は透明、自身の高さの50%下に配置
    opacity: 0;
    transform: translate(0, 50%);
    transition: 2s;
}

// showクラス付与で表示しながら元の位置に移動
.fadein.show {
    transform: translate(0, 0);
    opacity: 1;
}

// 
// ヘッダー
// 
#header {
    .logo {
        line-height: 1px;
        position: fixed;
        top: 35px;
        left: 30px;
        // 一番上に来るように設定
        z-index: 20;
        display: none;

        a {
            display: block;
        }
    }

    //
    // ナビゲーションメニュー
    //  
    #navi {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        // 一番上に来るように設定
        z-index: 30;
        text-align: center;
        transform: translateY(-100%);
        transition: 0.6s;
        // display: none;

        background-color: #050507;

        ul {
            width: 100%;
            background-color: #050507;
            padding: 80px 0 30px 0;

            li {
                padding: 10px 0;

                a {
                    display: block;
                }
            }
        }
    }

    #navi.active {
        transform: translateY(0%);
    }

    // 
    // ハンバーガーメニュー
    // 
    .hamburger {
        width: 42px;
        height: 42px;
        cursor: pointer;
        position: fixed;
        top: 20px;
        right: 25px;

        z-index: 40;
        display: none;

        span {
            height: 1px;
            width: 30px;
            background-color: #fff;
            position: absolute;
            left: 6px;
            transition: 0.5s ease-in-out;

            &:nth-child(1) {
                top: 11px;
            }

            &:nth-child(2) {
                top: 21px;
            }

            &:nth-child(3) {
                top: 31px;
            }
        }
    }

    .hamburger.active {
        span {
            &:nth-child(1) {
                top: 21px;
                transform: rotate(-45deg);
            }

            &:nth-child(2),
            &:nth-child(3) {
                top: 21px;
                transform: rotate(45deg);
            }
        }
    }
}

// 
// メインビジュアル
// 
#mainvisual {
    display: flex;
    justify-content: center;

    // 拡大した際の横スクロールを隠す
    overflow-x: hidden;

    img {
        // 初期値は画面の1/3、高さは画面高
        width: calc(100vw/3);
        height: 100vh;
        // 拡大した時に(親要素に合わせて)縮めない
        flex-shrink: 0;
        object-fit: cover;
    }
}

// 
// インフォメーション
// 
#information {
    margin-bottom: 140px;

    .info-date-en {
        display: block;
        font-size: 1.5rem;
        font-weight: 200;
    }

    .info-time-en {
        display: block;
        font-size: 1.125rem;
    }

    .info-place {
        font-size: 2.5rem;
        font-weight: 400;
        margin: 20px 0;
    }

    .info-date-ja {
        font-size: 1.125rem;
    }

}

// 
// サイドボタン
// 
#side-btn {
    border: solid 1px #fff;
    position: fixed;
    bottom: 200px;
    right: -144px;
    transform: rotate(-90deg) translateY(60px);
    transition: 0.6s;
    z-index: 30;

    a {
        width: 165px;
        font-size: 1rem;
        display: inline-block;
        letter-spacing: 0.1em;
        padding: 15px 0;
        transition: 0.3s;

        &:last-of-type {
            border-left: solid 1px #fff;
        }

        &:hover {
            opacity: 0.7;
        }

    }
}

// 
// ギャラリー
// 
#gallery {
    .list {
        li {
            margin-bottom: 60px;

            img {
                width: 48%;
            }

            &:nth-child(odd) {
                text-align: left;
            }

            &:nth-child(even) {
                text-align: right;
            }
        }
    }
}

// 
// アクセス
// 
#access {

    margin-bottom: 480px;

    // 背景画像より前面に表示する必要があるが、position:static(デフォルト)は
    // z-indexが指定できないため、relativeを定義
    position: relative;
    z-index: 20;

    .place {
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 20px;
    }

    .address {
        font-size: 1.0rem;
        margin-bottom: 20px;
    }

    .contact {
        font-size: 1.0rem;
        margin-bottom: 30px;
    }

    .btn {
        font-size: 1.0rem;
        display: inline-block;
        cursor: pointer;
        border: solid 1px #fff;
        padding: 20px 100px;
        transition: 0.3s;

        &:hover {
            background-color: #050507;
        }
    }
}

// 
// 背景表示
// 
.bg {
    width: 100vw;
    height: 100vh;
    background: url("../img/bg.jpg") center center repeat !important;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 10;
}

// 
// コンタクト
// 
#contact {
    margin-bottom: 200px;
    z-index: 20;

    .btn {
        display: block;
        width: 400px;
        margin: 0 auto 20px auto;
        border: solid 1px#7d7d7d;
        padding: 40px 40px;
        position: relative;
        transition: 0.3s;

        &::before,
        &::after {
            content: "";
            height: 1px;
            background-color: #fff;
            position: absolute;
            transition: 0.3s;
            right: -40px;
        }

        &::before {
            width: 120px;
            top: 48px;
        }

        &::after {
            width: 15px;
            top: 45px;
            transform: rotate(25deg);
        }

        &:hover::before,
        &:hover::after {
            right: -50px;
        }
    }
}

// 
// フッター
// 
#footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-top: solid 1px #fff;
    font-size: 0.75rem;
    padding: 80px 30px;
    text-align: left;

    p {
        line-height: 1.6;
    }

    .sns {
        display: flex;
        align-items: center;
        margin-top: 30px;

        li {
            margin-right: 15px;
        }
    }

    .copyright {
        display: flex;
        align-items: center;

        li:last-child {
            margin-left: 30px;
        }
    }
}

// 
//  レスポンシブ
// 
@media screen and (max-width: 900px) {

    .site-title {
        font-size: 3rem;
        margin-bottom: 50px;
    }

    .section-title {
        font-size: 2rem;
        // margin-bottom: 40px;
    }

    #information {
        margin-bottom: 80px;

        .info-date-en {
            font-size: 1rem;
        }

        .info-time-en {
            font-size: 1rem;
        }

        .info-place {
            font-size: 2.0rem;
            // font-weight: 400;
            // margin: 20px 0;
        }

        .info-date-ja {
            font-size: 1rem;
        }

    }

    #gallery {
        margin-bottom: 280px;

        .list {
            li {
                margin-bottom: 30px;

                img {
                    width: 100%;
                }
            }
        }
    }

    #access {

        margin-bottom: 280px;

        .place {
            font-size: 1.6rem;
            // font-weight: 300;
            // margin-bottom: 20px;
        }

        .address {
            font-size: 0.9rem;
            // margin-bottom: 20px;
        }

        .contact {
            font-size: 0.9rem;
            // margin-bottom: 30px;
        }

        .btn {
            font-size: 0.9rem;
            padding: 15px 80px;
        }
    }

    #contact {
        margin-bottom: 180px;

        .btn {
            width: 90%;
            // border: solid 1px#7d7d7d;
            padding: 30px 0;

            &::before,
            &::after {
                display: none;
            }
        }
    }

    #footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 60px 30px;

        .sns {
            margin-bottom: 30px;
        }
    }
}